.container {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
    background-color: grey;
    display: flex;
justify-content: space-between;
}
.header_cell-notification{
  justify-content: flex-end;
    color: white;
    border: none;
    background: none;
    
}