.container {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  height: 50px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header_buttons{
  display:flex;
}
.UserName{
  padding-left: 10px;
  font: 18px TimesNewRoman;
  vertical-align:middle ;
}

.header-profile{
  border: none;
  background: none;



}
/*Дзвіночок */
#HederBell{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 5px;
  }
  
  #BellSpan{
  position: relative;
  }
  
  #BellMouseHoverText{
    
  position: absolute;
  
  top: 100%;
  left: 0;
  background-color: whitesmoke;
  display: none;
  width: 200px;
  z-index: 1;
  }
  
  #BellSpan:hover #BellMouseHoverText {
  display: block;
  }
 
  
  .header_cell-notification{
  color: white;
  border: none;
  background: none;
  }
  /* Повідомлення при наведенні */
  #Massage {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    color:black;
    display: flex;
    align-items:center;
  }
  #Massagetext {
    min-width: 110px;
    min-height: 30px ;
text-align: center;
    background-color: #aaaaaa;
    border-radius: 10px; /* Заокруглені кути */
    position: relative; /* Потрібно для позиціонування трикутника */
  }
  
  #Massagetext::before { /* Трикутник зліва */
    content: "";
    position: absolute;
    left: -6px; /* Розташування трикутника */
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #aaaaaa; /* Колір трикутника */
  }


  #Massage > div {
    display: flex;
    flex-direction: column;
    align-items:center;
    
  }
  #Massage >div>p{
    margin: 0;
  }
  #Massage > p  {
    
    margin-left: 10px;
  }
  
  
  /*----------------------Профіль наведення---------------------------*/
  #HeaderProfileContainer{
    padding-top: 5px;
    position: relative; /* Додайте цей рядок */
  }
  
  #ProfileMouseHoverText{
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#aaaaaa;
    display: none;
    width: 100px;
    z-index: 1;
  }
  
  #ProfileSpan:hover #ProfileMouseHoverText {
    display: block;
  }
  




/*мЕЙН*/
a{text-decoration: none;
color: black;
}
.left_side_link_list{

position: absolute;
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  font-size: 20px;
  
}

.main_left_menu_Dashboard:active,
.main_left_menu_Students:active,
.main_left_menu_Tasks:active {
    font-weight: bold; /* Жирний текст при натисканні */
}
a.Students{
 font-weight: 700;
;}

.PageNameMain{
padding-top: 40px;
font-size: 25px;
padding-left: 100 px;
font-weight: normal;
}
.lrmw{display: flex;}

.right{
  padding-left: 150px;
}
button.add{
  
  width: 40px;
  height: 40px;
  font-size: 30px;

}
.button_add_container{
  position: absolute;
  
  top: 118px;
  right: 3%;
}
/*Таблиця*/
table {
  
  position:fixed;
  right: 2%;
  left: 150px;
  border-collapse: collapse;
  width: 87%;
  height:450px;
  
}
td, th {
  
  border: 1px solid black;
  text-align: center;
}
.Table{
  padding-top: 0px;

;}
.Table button{
  
  
  width: 40px;
  height: 40px;
}

.icon-button {
  background-color: transparent;

  cursor: pointer;
  font-size: 16px;
  color: #333; /* Змініть колір за потреби */
  
}

.icon-button i {
  margin-right: 5px; /* Додайте деякий відступ між іконкою та текстом */
}

.buttonin1row,.buttonin2row,.buttonin3row,.buttonin4row{
  visibility: hidden;
}

/* CSS */
.modal {
  display: none; /* Приховано за замовчуванням */
  position: fixed; /* Залишайтеся на місці */
  z-index: 1; /* Сидіть на вершині */
  padding-top: 100px; /* Розташуйте модальне вікно вверху */
  left: 0;
  top: 0;
  width: 100%; /* Повна ширина */
  height: 100%; /* Повна висота */
  overflow: auto; /* Додайте прокрутку, якщо потрібно */
  background-color: rgb(0,0,0); /* Чорний з невеликим прозорим фоном */
  background-color: rgba(0,0,0,0.4); /* Чорний з невеликим прозорим фоном */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.infomodal
{
  
  font: 20px TimesNewRoman;
  display: flex;
  flex-direction: column;
}
#Group {
  width: 120px;  /* Змініть на бажану ширину */
  height: 20px;  /* Змініть на бажану висоту */
}
#fname{ width: 120px;  /* Змініть на бажану ширину */
  height: 15px;  /* Змініть на бажану висоту */}
#lname{ width: 120px;  /* Змініть на бажану ширину */
    height: 15px;  /* Змініть на бажану висоту */}
  
#Gender{ width: 120px;  /* Змініть на бажану ширину */
  height: 20px;  /* Змініть на бажану висоту */}

  /*Кнопки навігацфя таблиці*/
