.container {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
  justify-content: start;
}


.header_cell-notification{

    color: white;
    border: none;
    background: none;
    
}

